* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #F4F1DE;
    overflow-x: hidden;
}

@media all and(max-width: 1024px) {
    .item {
        width: 100%;
    }
}

}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    padding: 20px 100px;
    background-color: #81B29A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 30px;
    line-height: 27.5px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .Log-Sign {
    width: 120px;
    height: 39.6px;
    background-color: #85816B;
    border: 2px solid #85816B;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.log {
    position: absolute;
    top: 2px;
    left: -14px;
}

.Log-Sign:hover .log {
    color: #000;
}

.navigation .Log-Sign:hover {
    background: #fff;
    color: #000;
    border: 2px solid #FFF;
}

.navigation .dropdown {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 39.6px;
    background-color: #85816B;
    border: 2px solid #85816B;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D86F53;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.dropdown:hover .log {
    color: #ffffff;
}

.navigation .dropdown:hover {
    background: #D86F53;
    color: #ffffff;
    border: 2px solid #D86F53;
}

@media (max-width: 971px) {
    .navigation a,
    .Log-Sign,
    .cities a {
        visibility: hidden;
    }
    header,
    footer,
    .cities {
        overflow: hidden;
    }
    footer .paragraph p {
        font-size: 18px;
        line-height: 25px;
    }
    body {
        overflow-x: hidden;
    }
}

.c-cta {
    display: flex;
    align-items: center;
    >a {
        font-size: 0.9em;
        opacity: 0.7;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 2rem;
        color: #81B29A;
    }
}



.c-slider {}

.c-slider-init {
    overflow-x: hidden
}

.c-slide {
    display: inline-flex !important;
    align-items: center;
    width: 100%;
    top: 50px;
    background-position: center;
    background-size: cover;
    will-change: background-size;
    position: relative;
    transition: 1s ease;
    transition-delay: .4s;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: -moz-linear-gradient( top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.61) 76%);
        background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.61) 76%);
        background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.61) 76%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#9c000000", GradientType=0);
    }
}

.c-slide-content {
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
}

.c-slide__title {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 20px;
    transform: translateY(150px);
    opacity: 0;
    transition: 0.8s ease;
    will-change: opacity, transform;
    color: white;
}

.c-slide__title--large,
.c-slide__title--medium {
    display: block;
    font-size: 2.5em;
    line-height: 110px;
    transform: translateY(150px);
    will-change: transform;
    transition-delay: 0.4s;
    position: relative;
    transition: 1s ease;
    color: white;
}

.c-slide__title--medium {
    font-size: 1.6em;
    line-height: 100px;
}

.c-slide__subtitle {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

.c-slide__body {
    margin-top: 0.7rem;
    opacity: 0;
    line-height: 27px;
    color: white;
}

.c-slide__info {
    transform: translateY(-150px);
    transition: 0.8s ease;
}

.c-wrap {
    padding: 2rem 0;
    overflow: hidden;
}

.c-wrap--small {
    max-width: 30%;
}

.c-wrap--line {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 1px;
        background-color: $white;
        bottom: 0;
        transition: 0.9s ease;
        transition-delay: 0.4s;
    }
}

.slick-list {
    overflow: visible !important;
}

.animateIn,
.initialAnimation {
    .c-slide__title--large,
    .c-slide__title--medium,
    .c-slide__info,
    .c-slide__title,
    .c-slide__body {
        transform: translateY(0);
        opacity: 1;
    }
    .c-wrap--line {
        &:after {
            left: 0;
            transform: translateX(0);
            width: 100%;
        }
    }
}

.slick-list {
    transition: 0.5s ease;
}

.u-scale-out {
    transform: scale(0.6) !important;
    transition: 0.5s ease;
}

.u-scale-in {
    transform: scale(1);
}

@media only screen and (max-width: 1300px) {
    .c-slide__title {
        font-size: 3em
    }
    .c-slide__title--large {
        font-size: 2em;
    }
    .c-wrap--small {
        max-width: 50%;
    }
}

@media only screen and ( max-width: 1100px) {
    .c-navigation {
        display: none;
    }
    .c-header {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 800px) {
    .c-slide__title--medium {
        font-size: 1.3em;
    }
    .c-slide__title {
        font-size: 2.5em
    }
    .c-slide__title--large {
        font-size: 1.5em;
    }
    .c-wrap--small {
        max-width: 80%;
    }
}

.cities {
    margin-top: 100px;
    position: absolute;
    top: 700px;
    width: 100%;
    height: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cities div {
    width: 30%;
    height: 400px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFDFD;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 43px;
    transition: all 0.3s ease;
}

.cities div:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transform: translateY(-5px);
}

.cities a {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 28px;
    text-decoration: none;
    text-align: center;
}

.Algiers {
    background: url(../images/Algiers.jpg) no-repeat;
    background-size: cover;
}

.Setif {
    background: url('https://i.pinimg.com/564x/d8/e5/87/d8e5872ea6daf3d4dd889cf200b1f461.jpg?fbclid=IwAR0ME1zrXwO2vaVtxWVqded8JjIMbdW-_QRwRti53salOWafc1nw06cfMIQ') no-repeat;
    background-size: cover;
}

.Ghardaia {
    background: url('https://i.pinimg.com/564x/81/ff/75/81ff751c022b54b0e18fca93b79c7250.jpg?fbclid=IwAR1gzp1E9PPMtx2oVHpMKb36zqg4NRi6XDyvwlvBfq_I9_IWk7Ynii-7IB0') no-repeat;
    background-size: cover;
}

.Oran {
    background: url(../images/Oran.jpg) no-repeat;
    background-size: cover;
}

.Tlemcen {
    background: url(../images/Tlemcen.jpg ) no-repeat;
    background-size: cover;
}

.Bejaia {
    background: url(../images/Bejaia.jpg) no-repeat;
    background-size: cover;
}

.Tamanrasset {
    background: url('https://i.pinimg.com/originals/90/f4/35/90f435da8440d75144b407d9f95e7f9f.jpg') no-repeat;
    background-size: cover;
}

.Constantine {
    background: url(../images/CONSTANTINE\ Gallery.png) no-repeat;
    background-size: cover;
}

.Annaba {
    background: url(../images/annaba.jpg)no-repeat;
    background-size: cover;
}

#Dest {
    position: absolute;
    width: 400px;
    height: 28px;
    left: calc(50% - 200px);
    top: 2500px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 28px;
    color: #505693;
    transition: color 0.3s ease;
    text-decoration: none;
}

#Dest:hover {
    color: #81B29A;
}

.destination {
    position: absolute;
    top: 2580px;
    width: 100%;
    height: 220px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.destination div {
    display: inline-block;
    width: 206px;
    height: 206px;
    top: 20px;
    margin-left: 20px;
    background-color: #505693;
}

#Agen {
    position: absolute;
    width: 365px;
    height: 28px;
    left: calc(50% - 182.5px);
    top: 2900px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 28px;
    color: #505693;
    transition: color 0.3s ease;
    text-decoration: none;
}

#Agen:hover {
    color: #81B29A;
}

.agencies {
    position: absolute;
    top: 3010px;
    width: 100%;
    height: 220px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.agencies div {
    display: inline-block;
    width: 206px;
    height: 206px;
    top: 20px;
    margin-left: 20px;
    background-color: #505693;
}

footer {
    position: absolute;
    top: 3360px;
    width: 100%;
    height: 340px;
    background-color: #81B29A;
}

div::-webkit-scrollbar {
    width: 8px;
    /* width of the scrollbar */
}

div::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* color of the scrollbar track */
}

div::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* color of the scrollbar thumb */
    border-radius: 4px;
    /* rounded corners for the scrollbar thumb */
}

div::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    /* color of the scrollbar thumb on hover */
}

.paragraph {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 40%;
    font-family: 'Poppins', sans-serif;
}

.paragraph p {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

.logof {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 38px;
    color: #D86F53;
    position: absolute;
    top: 20px;
    left: 20px;
}

.aboutus {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0px;
    width: 50%;
}

.aboutus p {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 38px;
    color: #D86F53;
    position: absolute;
    top: 20px;
    left: 20px;
    align-items: center;
    
}

.aboutus div {
    position: relative;
    left: 20px;
    top: 60px;
    width: 60%;
    height: 50px;
    background: transparent;
    display: inline-block;
    margin-top: 13px;
}

.aboutus a {
    text-decoration: none;
    position: absolute;
    top: 8px;
    left: 80px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    color: #505693;
}

.aboutus i {
    position: absolute;
    font-size: 20px;
    top: 16px;
    left: 40px;
    color: #505693;
}