.left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: url(images/Log-in.jpg), no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.Hey {
    position: absolute;
    width: 470px;
    height: 43px;
    left: 150px;
    top: 103px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    color: #FFFDFD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Ready-to {
    position: absolute;
   
    left: 200px;
    top: 178px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 100%;
    color: #FFFDFD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.PackGo {
    font-family: 'Outfit';
    font-style: normal;
    font-weight:bolder;
    font-size: 40px;
    line-height: 100%;
    color: #65a586;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    top: 0;
    background: url(images/Log-in2.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login {
    position: absolute;
    width: 478px;
    height: 364px;
    left: 108px;
    top: 150px;
    background: transparent;
}

h1 {
    top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    color: #5f5c5c;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.alert {
    margin-top: 2rem;
    min-height: 5px;
    width: 245px;
    height:5px;
    max-width: 90%;
    border-radius: 12px;
    padding: 13px;
    display: flex;
    align-items: center;
  }
  
  
  .alert-error {
    background:#e41749 ;
  }
  
  .alert p {
    color: #fff;
    font-family: Verdana;
    margin-left: 10px;
  }
  .alert p a,
  .alert p a:visited,
  .alert p a:active {
    color: #fff;
  }
  .alert .open {
    margin-left: auto;
    margin-right: 5px;
  }
  .alert .close, .alert .open {
    color: #fff;
    transition: transform 0.5s;
    font-size: 18px;
    cursor: pointer;
  }
  .alert .close:hover, .alert .open:hover {
    transform: scale(1.3);
  }

.usern {
    position: absolute;
    top: 120px;
    left: 140px;
}

.passw {
    position: absolute;
    top: 172px;
    left: 140px;
}

.usern,
.passw {
    border: 2px solid #81B29A;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    color: #5f5c5c;
    background: #81B29A;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

input:hover {
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
    border: 2px solid #81B29A;
}

input:focus {
    outline: none;
    border-color: #81B29A;
    box-shadow: 0 0 5px#81B29A;
}

label {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    font-family: 'Poppins', sans-serif;
}

.usernl {
    position: absolute;
    top: 132px;
    left: 40px;
    font-size:large;
    color: #5f5c5c;
}

.useri {
    position: absolute;
    top: 132px;
    left: 325px;
}

.passi {
    position: absolute;
    top: 184px;
    left: 325px;
}

i {
    color: #5f5c5c;
}

.passwl {
    position: absolute;
    top: 184px;
    left: 40px;
    font-size: large;
    color: #5f5c5c;
}

.remember {
    position: absolute;
    top: 255px;
    left: 140px;
}

.remember label {
    color: #5f5c5c;
}

input[type="submit"] {
    position: absolute;
    top: 275px;
    left: 140px;
    background-color: #81B29A;
    color: #5f5c5c;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
}

input[type="submit"]:hover {
    background-color: #81B29A;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
    border: 2px solid #81B29A;
}

.Signup {
    position: absolute;
    top: 325px;
    left: 265px;
    text-decoration:underline;
    font-style: normal;
    font-weight:bold;
    font-size:medium;
    line-height: 100%;
    color: #5f5c5c;
    transition: all .5s ease;
}
.Signup:hover{
    color:#D86F53;
    transition: all .5s ease;
}

.Noaccount {
    position: absolute;
    top: 310px;
    left: 100px;
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size:medium;
    line-height: 100%;
    color: #5f5c5c;
}

.agency
{
    position: absolute;
    top: 450px;
    left: 59px ;
    text-decoration: none;
    font-size: 25px;
    line-height: 100%;
    font-weight: 700;
    color: #5f5c5c;
}
.agency_login{
    position: absolute;
    top: 522px;
    left: 380px;
    width: 150px;
    height: 30px;
    background-color:#e4876d;
    color: #f6ebeb;
    border-radius: 20px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;   
}